/* =Blocks
-----------------------------------------------------------------------------*/
.blocks-2,
.blocks-3,
.blocks-4,
.blocks-5,
.blocks-6 {
	padding-left: 0;
	list-style: none;
	margin-left: -$gridGutterWidth/($gridWidth/100)*1%;
	@include box-sizing(border-box);
	@include pie-clearfix;
}
.blocks-2 > li,
.blocks-3 > li,
.blocks-4 > li,
.blocks-5 > li,
.blocks-6 > li {
	height: auto;
	float: left;
	margin-bottom: $baseLine/$em;
	margin-left: $gridGutterWidth/($gridWidth/100)*1%;
	@include box-sizing(border-box);
}

.blocks-2 > li { @include block(2); }
.blocks-3 > li { @include block(3); }
.blocks-4 > li { @include block(4); }
.blocks-5 > li { @include block(5); }
.blocks-6 > li { @include block(6); }

.block-first {
	clear: both;
}
