/* =Images
-----------------------------------------------------------------------------*/
.image-left {
	float: left;
	margin: 0 $floatingMargin $floatingMargin 0;
}
.image-right {
	float: right;
	margin: 0 0 $floatingMargin $floatingMargin;
}
.image-left img,
.image-right img {
	position: relative;
	top: .4em;
}
.image-centered {
	text-align: center;
}
.image-container {
	@include pie-clearfix;
}
.image-content {
	overflow: hidden;
}
