.message {
	position: relative;
	padding: 9px 13px;
	border: 1px solid lighten(#f3c835, 15);
	@include border-radius(5px);
	margin-bottom: $baseLine/$em;
	color: darken(#f3c835, 25);
	background-color: lighten(#f3c835, 36);
}
.message-error {
	color: darken(#ef6465, 25);
	border-color: lighten(#ef6465, 20);
	background-color: lighten(#ef6465, 30);
}
.message-success {
	color: darken(#90af45, 20);
	border-color: lighten(#90af45, 30);
	background-color: lighten(#90af45, 45);
}
.message-info {
	color: darken(#1c7ab4, 15);
	border-color: lighten(#1c7ab4, 42);
	background-color: lighten(#1c7ab4, 52);
}
.message header {
	font-weight: bold;
	font-size: 1.2em;
}
.message .close {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 6px;
}