/* =Navs
-----------------------------------------------------------------------------*/


/* Horizontal */
.nav-h,
.nav-g {
	margin-bottom: $baseLine/$em;
	@include pie-clearfix;
}
.nav-h ul,
.nav-g ul {
	list-style: none;
	margin: 0;
	@include pie-clearfix;
}
.nav-h ul li,
.nav-g ul li {
	float: left;
	margin-right: 1.5em;
}
.nav-h ul li a,
.nav-h ul li span,
.nav-g ul li a,
.nav-g ul li span {
	display: block;
}
.nav-h ul li a,
.nav-g ul li a {
	text-decoration: none;
}
.nav-h ul li a:hover,
.nav-g ul li a:hover {
	color: $colorLinkHover;
	text-decoration: underline;
}
.nav-h ul li span,
.nav-g ul li span {
	color: $colorGrayLight;
}

/* Vertical */
.nav-v {
	margin-bottom: $baseLine/$em;
}
.nav-v ul {
	list-style: none;
	margin: 0;
}
.nav-v ul li {
	border-bottom: 1px solid #eee;
}
.nav-v ul li ul {
	margin-left: 2em;
	font-size: .95em;
}
.nav-v ul li ul li:last-child {
	border-bottom: none;
}
.nav-v ul li ul li a,
.nav-v ul li ul li span {
	padding: 4px 0;
}
.nav-v ul li a,
.nav-v ul li span {
	display: block;
	padding: 5px 0;
}
.nav-v ul li a {
	text-decoration: none;
}
.nav-v ul li a:hover {
	color: $colorLinkHover;
	text-decoration: underline;
}
.nav-v ul li span {
	color: $colorGrayLight;
}

/* Stacked */
.nav-stacked ul {
	border: 1px solid #eee;
	border-bottom: 0;
}
.nav-stacked ul li a,
.nav-stacked ul li span {
	padding: 5px 10px;
}
.nav-stacked ul li a:hover {
	background-color: #f5f5f5;
}

/* Stats */
.nav-stats li {
	position: relative;
}
.nav-stats li a,
.nav-stats li span {
	padding-right: 50px;
}
.nav-stats .label,
.nav-stats .label-badge {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}
.nav-stats.nav-stacked .label,
.nav-stats.nav-stacked .label-badge {
	right: 4px;
}
.nav-stats .label.label-data,
.nav-stacked .label-data {
	margin-top: -6px;
	right: 6px;
}

.nav-v h1,
.nav-v h2,
.nav-v h3,
.nav-v h4,
.nav-v h5,
.nav-v h6 {
	margin-top: 1.5em;
	margin-bottom: 3px;
}
.nav-v h1:first-child,
.nav-v h2:first-child,
.nav-v h3:first-child,
.nav-v h4:first-child,
.nav-v h5:first-child,
.nav-v h6:first-child {
	margin-top: 0;
}

/* Breadcrumbs */
.breadcrumbs {
	margin-bottom: $baseLine/$em;
	@include pie-clearfix;
}
.breadcrumbs ul {
	font-size: .9em;
	color: #999;
	list-style: none;
	margin: 0;
	@include pie-clearfix;
}
.breadcrumbs ul li {
	float: left;
	margin-right: 3px;
}
.breadcrumbs li + li:before {
    content: " > ";
    color: #aaa;
    font-size: 12px;
	margin: 0 3px;
	position: relative;
	top: -1px;
}
.breadcrumbs-sections li + li:before {
    content: " | ";
	top: 0;
}
.breadcrumbs-path li + li:before {
    content: " / ";
	top: 0;
}
.breadcrumbs ul li a {
	color: $colorBlack;
	text-decoration: none;
}
.breadcrumbs ul li a.active {
	color: #999;
}
.breadcrumbs ul li a:hover {
	color: #000;
	text-decoration: underline;
}

/* Tabs */
.nav-tabs {
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: $baseLine/$em;
	@include pie-clearfix;
}
.nav-tabs ul {
	list-style: none;
	margin: 0;
	@include pie-clearfix;
}
.nav-tabs ul li {
	float: left;
	margin-right: 2px;
}
.nav-tabs ul li a,
.nav-tabs ul li span {
	display: block;
	line-height: 1;
	padding: 8px 12px 9px 12px;
}
.nav-tabs ul li a {
	color: $colorGrayLight;
	text-decoration: none;
}
.nav-tabs ul li a:focus,
.nav-tabs ul li a:hover {
	color: $colorBlack;
	text-decoration: underline;
}
.nav-tabs ul li .active,
.nav-tabs ul li span {
	color: $colorBlack;
	background: #fff;
	margin-top: -2px;
	position: relative;
	padding: 8px 11px 9px 11px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	bottom: -1px;
}
.nav-tabs ul li .active {
	cursor: default;
}

/* Vertical tabs */
.nav-tabs-v {
	border: none;
	border-right: 1px solid #e3e3e3;
}
.nav-tabs-v ul li {
	float: none;
}
.nav-tabs-v ul li span {
	margin-top: 0;
	bottom: 0;
	margin-right: -3px;
	border: 1px solid #ddd;
	border-right: 1px solid #fff;
}

/* Pills */
.nav-pills {
	margin-bottom: $baseLine/$em - .5em;
	@include pie-clearfix;
}
.nav-pills ul {
	list-style: none;
	margin: 0;
	@include pie-clearfix;
}
.nav-pills ul li {
	float: left;
	margin-right: .5em;
	margin-bottom: $baseLine/$em - 1em;
}
.nav-pills ul li a,
.nav-pills ul li span {
	display: block;
	padding: 6px 15px;
	line-height: 1;
	@include border-radius(15px);
}
.nav-pills ul li a {
	color: $colorGray;
	text-decoration: none;
	background-color: #f3f4f5;
}
.nav-pills ul li a:hover {
	color: $colorGrayDark;
	text-decoration: underline;
}
.nav-pills ul li .active,
.nav-pills ul li .active:hover,
.nav-pills ul li span {
	color: $colorGray;
	padding: 5px 14px;
	border: 1px solid #ddd;
	background: none;
}
.nav-pills ul li .active,
.nav-pills ul li .active:hover {
	cursor: default;
	text-decoration: none;
}

/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
	position: relative;
	left: -9px;
	margin-left: 0;
	list-style: none;
	@include pie-clearfix;
}
.pagination li {
	float: left;
	margin-right: 2px;
}
.pagination li a,
.pagination li span {
	display: block;
	padding: 7px 9px;
	line-height: 1;
	@include border-radius(2em);
	color: #000;
	text-decoration: none;
}
.pagination span {
	border: 1px solid #ddd;
}
.pagination li a:focus,
.pagination li a:hover {
	text-decoration: underline;
	background-color: #333;
	color: $colorWhite;
}

.pagination li.pagination-older {
	margin-left: 7px;
}
.pagination li.pagination-older a,
.pagination li.pagination-newest a,
.pagination li.pagination-older span,
.pagination li.pagination-newest span {
	padding: 5px 15px;
	@include border-radius(2em);
	border: 1px solid #ddd;
}
.pagination li.pagination-older span,
.pagination li.pagination-newest span {
	border-color: #eee;
	color: #999;
}
.pagination li.pagination-pull {
	float: right;
	margin-right: -7px;
	margin-left: .5em;
}