/* =Responsive Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

	.row .half,
	.row .third, 
	.row .quarter, 
	.row .fifth, 
	.row .sixth, 
	.row .twothird, 
	.row .twofifth, 
	.row .threefifth, 
	.row .fourfifth, 
	.row .fivesixth,
	.row .threequarter {	
		margin-left: 0;	
		width: 100%;
	}
	
	.push-half, 
	.push-threequarter, 
	.push-quarter, 
	.push-third, 
	.push-twothird, 
	.push-fifth, 
	.push-twofifth, 
	.push-threefifth, 
	.push-fourfifth, 
	.push-sixth, 
	.push-fivesixth { 
		left: 0; 
	}	
	
	.row .pull-right {	
		float: none;
	}
	
	/*
		Blocks
	*/
	.block-two,
	.block-three,
	.block-four,
	.block-five,
	.block-six {
		margin-left: 0;
		margin-bottom: ($baseLine/$em) * 1em;
	}
	
	.block-two > li,
	.block-three > li,
	.block-four > li,
	.block-five > li,
	.block-six > li { 
		float: none;
		margin: 0;	
		width: 100%;
	}	

	/*
		Forms
	*/
	.forms.columnar label { 
		float: none;
		text-align: left;
		width: auto;
	}
	.forms.columnar .push, .forms.columnar div.descr {
		margin-left: 0;
	}
	.forms .multicolumn li {
		float: none;
		margin-right: 0;
	}
	.forms .multicolumn li.width-50, .forms .multicolumn li.width-33 {	
		width: 100%;
	}
	.forms.columnar li fieldset, .forms.columnar li fieldset section {
		width: 100%;
		padding-left: 0;
		text-align: left;
		position: static;
	}
	.forms fieldset {
		padding: 0;
		padding-top: 1em;
		border: none;
	}
	.forms fieldset legend {
		padding: 0;
	}

}