/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

	.forms-columnar label {
		float: none;
		text-align: left;
		width: auto;
		margin-bottom: 0;
	}
	.forms-push label {
		position: relative;
	}
	.forms-push,
	.forms-columnar .forms-section {
		padding-left: 0;
	}
	.forms-columnar .forms-list,
	.forms-columnar .forms-inline-list {
		margin-left: 0;
	}

}